<div class="container-fluid">

    <div class="header mt-1 p-3">
        <h1>ADD PRODUCT </h1>

    </div><br>
    <div class="box">
    <div class="fam">      
        <form [formGroup]="form" (ngSubmit)="submit()">     
           <div class="form-group">

                <label for="productid">Product Id</label>
                <input 
                    formControlName="productid"
                    id="productid" 
                    type="text" 
                    class="form-control">
                <div *ngIf="f.productid.touched && f.productid.invalid" class="alert alert-danger">
                    <div *ngIf="f.productid.errors?.required">Product Id is required.</div>
                </div>
            </div>


    <div class="form-group">
        <label for="productname">Product Name</label>
        <input formControlName="productname" id="productname" name="productname" type="text" class="form-control">

        <div *ngIf="f.productname.touched && f.productname.invalid" class="alert alert-danger">
            <div *ngIf="f.productname.errors?.required">Product Name is required.</div>
            <div *ngIf="f.productname.errors?.pattern">Product Name is required.</div>

        </div>
    </div>

    <div class="form-group">
        <label for="producttype">Product Type</label>
        <select formControlName="producttype" id="producttype" type="text" class="form-control">
            <option value="Monthly">Monthly</option>
                  <option value="Weekly">Weekly</option>    
                  <option value="Yearly">Yearly</option>
                  <option *ngFor="let product of product" value={{product.productName}}>{{ product.productName }}</option>
        </select>
        <div *ngIf="f.producttype.touched && f.producttype.invalid" class="alert alert-danger">
            <div *ngIf="f.producttype.errors?.required">Product Type is required.</div>
        </div>
    </div>

    <div class="but">
        <a href="http://localhost:4200/product/index" class="btn btn-primary">Back</a>
        &nbsp;&nbsp;
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save</button>
    </div>
    </form>
</div>
</div>
</div>
