<div class="container">
    <div class="box mt-1 p-3">
        <h1>Products List</h1>
    </div>
    <br>

       
<div class="button">
     <button type="button" a href="#" routerLink="/product/index/" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
      </button>

           <!---- <div>
                <strong>id</strong>
                <p>{{ product.id }}</p>
            </div>-->
            
            <div>
                <strong><b>Product Id:</b> {{ product.ProductId }}</strong>
                <br>
                <br>
            </div>

            <div>
                <strong><b>Product Name:</b> {{ product.ProductName }}</strong>
                <br>
                <br>
            </div>

            <div>
                <strong><b>Product Type:</b> {{ product.ProductType }}</strong>
                <br>
                <br>
            </div>
    
    </div>
  
</div>
