<div class="container">
    <div class="box mt-1 p-3">
        <h1>ORDER DETAILS</h1>
    </div>
    <br>

<div class="button">
<button type="button" a href="#" routerLink="/orders/index/" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
</button>

    <div class="form">
                       <!---- <div><strong>id {{ product.id }}</strong></div>
<div><strong><b>Products Id:</b> {{ products.ProductsId }}</strong></div> -->



        <div>
            <strong><b>Order Id:</b> {{ orders.OrderId }}</strong>
        </div>
        <br>
        <div>
            <strong><b>Product Type:</b> {{ orders.ProductType }}</strong>
        </div>
        <br>
            <div>
                <strong><b>Order Number:</b> {{ orders.OrderNumber }}</strong>
            </div>
<br>        
            <div>
                <strong><b>Order Date:</b> {{ orders.Orderdate }}</strong>
            </div>
       </div>
    </div>
</div>